.btn {
    padding: 20px 10px;

    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.1s var(--animation-smooth);

    &.main {
        background-color: var(--primary-color);
        color: var(--white);
        border: 2px solid var(--primary-color);

        &:hover {
            box-shadow: 10px 10px 0px -2px var(--monochrome-color-1);
        }
    }

    &.clear {
        background-color: var(--white);
        color: var(--primary-color);
        border: 2px solid var(--primary-color);

        &:hover {
            box-shadow: 10px 10px 0px -2px var(--monochrome-color-1);
        }
    }

    &.footer {
        background-color: var(--white);
        color: var(--heading-text);
        border: 2px solid var(--heading-text);

        &:hover {
            box-shadow: 10px 10px 0px -2px rgba(255, 255, 255, 0.7);
        }
    }

    &:hover {
        cursor: pointer;
    }
}
