.horizontal-scroll--wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid var(--heading-text);
    border-bottom: 4px solid var(--heading-text);
    margin: 0;
    padding: 25px 0;
}

.horizontal-scroll--content {
    display: inline-flex;
    gap: 48px;
}

.horizontal-scroll--content span {
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-text);
}
