.app--wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

/** RESPONSIVE **/
@media (max-width: 768px) {
    .content--wrapper {
        padding-left: clamp(2.1875rem, -1.3971rem + 15.9314vw, 6.25rem);
    }
}
