.app--wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}

/** ICONS **/
.hover-icon {
    & > path {
        transition: fill 0.1s var(--animation-smooth);
    }

    &:hover {
        &.linkedin > path {
            fill: #0a66c2;
        }
        &.youtube > path {
            fill: #c4302b;
        }
    }
}

/** RESPONSIVE **/
@media (max-width: 768px) {
    .content--wrapper {
        padding-left: clamp(2.1875rem, -1.3971rem + 15.9314vw, 6.25rem);
    }
}
