.projets-section {
    position: relative;
    min-height: 100vh;

    .projets--wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        gap: 50px;

        .projets-header {
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 90px;

            h3 {
                color: var(--primary-color);
                font-size: 64px;
                font-weight: 900;
                letter-spacing: 1px;
            }
        }

        .bento--wrapper {
            flex: 1;
            display: grid;

            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 30px;
            padding: 50px;

            grid-template-areas:
                "SFH medicactiv medicactiv mySFH mySFH"
                "almirall almirall astellas mySFH mySFH"
                "reinvent    reinvent    astellas ih    ih";

            .bento--item {
                position: relative;

                display: flex;
                align-items: center;
                border-radius: 20px;
                background-color: var(--white);
                filter: drop-shadow(0px 7px 15px rgba(97, 141, 231, 0.3));
                overflow: hidden;
                user-select: none;

                blockquote {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start !important;
                    align-items: center;
                    transform: none !important;
                    overflow-y: scroll;

                    border-radius: 20px;
                    padding: 20px;
                    z-index: 10;

                    background-color: var(--primary-color);
                    color: var(--white);
                    font-size: 18px;
                    line-height: 25px;

                    ol {
                        margin-top: 10px;
                        padding: 0 20px;
                        list-style: decimal;

                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }

                    .close-blockquote {
                        position: fixed;
                        top: 20px;
                        right: 20px;
                        width: 30px;
                        height: 30px;

                        border-radius: 50%;
                        padding: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        transform: rotate(45deg);
                        cursor: pointer;
                        background-color: var(--white);
                    }
                }

                .bottom {
                    position: absolute;
                    display: flex;
                    gap: 10px;
                    bottom: 20px;
                    left: 20px;
                    z-index: 3;

                    li {
                        position: relative;
                        min-width: 50px;
                        height: 50px;
                        padding: 5px;
                        border-radius: 5px;

                        filter: drop-shadow(0px 0px 8px rgba(0, 25, 76, 0.45));

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--white);
                        transition: transform 0.2s ease;

                        &[data-tooltip]:hover {
                            transform: translateY(-2px);

                            &:before {
                                content: attr(data-tooltip);
                                position: absolute;
                                bottom: calc(100% + 10px);
                                left: 50%;
                                transform: translateX(-50%);
                                background-color: rgba(0, 85, 255, 0.95);
                                color: white;
                                padding: 8px 12px;
                                border-radius: 6px;
                                font-size: 14px;
                                font-weight: 600;
                                white-space: nowrap;
                                z-index: 10;
                                pointer-events: none;
                                animation: tooltipFadeIn 0.2s ease;
                            }
                        }

                        &.last--item {
                            cursor: pointer;
                            svg {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        svg {
                            width: 33px;
                            height: 33px;
                        }
                    }
                }
            }

            #medicactiv {
                grid-area: medicactiv;
                background: var(--white) !important;
                max-height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: left;
                    opacity: 0.9;
                    z-index: 1;
                }

                .bottom {
                    flex-wrap: wrap;

                    .first--item {
                        width: 100%;
                        display: flex;

                        li {
                            padding: 0 20px;
                            font-weight: 700;
                            color: #72007a;
                        }
                    }
                }
            }

            #mySFH {
                grid-area: mySFH;
                background: var(--white) !important;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.9;
                    z-index: 1;
                }

                .bottom {
                    flex-wrap: wrap;

                    .first--item {
                        width: 100%;
                        display: flex;

                        li {
                            padding: 0 20px;
                            font-weight: 700;
                            color: var(--mySFH-1-color);
                            span {
                                color: var(--mySFH-2-color);
                            }
                        }
                    }
                }

                blockquote {
                    background-color: var(--mySFH-1-color);
                }
            }

            #almirall {
                grid-area: almirall;
                background: var(--white) !important;
                max-height: 350px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom;
                    opacity: 0.9;
                    z-index: 1;
                }

                blockquote {
                    background-color: #00f0be;
                    color: #002855;
                }
            }

            #SFH {
                grid-area: SFH;
                min-width: 300px;
                min-height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.9;
                    z-index: 1;
                }

                &:after {
                    display: none;
                }
            }

            #astellas {
                grid-area: astellas;
                min-width: 300px;
                min-height: 250px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }

                blockquote {
                    background-color: #e05441;
                    color: var(--white);
                    max-height: 500px;
                    justify-content: center !important;
                }
            }

            #reinvent {
                grid-area: reinvent;
                min-width: 250px;
                min-height: 250px;
                max-height: 350px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }

                blockquote {
                    background-color: #8b1dfb;
                    color: var(--white);
                }
            }

            #ih {
                grid-area: ih;
                padding: 30px;
                justify-content: center;

                img {
                    max-width: 350px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    z-index: 1;
                }
            }

            * {
                box-sizing: border-box;
            }
        }

        .project-perso--wrapper {
            margin: 50px 0;
            h3 {
                color: var(--primary-color);
                font-size: 64px;
                font-weight: 900;
                letter-spacing: 1px;
                text-align: center;
            }
            .cards--wrapper {
                position: relative;
                height: 500px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .project-perso--modal {
        position: fixed;
        inset: 0;
        z-index: 1000;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(6px);
        padding: 40px;

        --modal-accent: var(--primary-color);

        .modal--container {
            position: relative;
            height: max-content;
            max-height: 100%;
            width: 65%;
            display: flex;
            flex-direction: column;
            background-color: var(--white);
            border-radius: 20px;
            overflow: hidden;

            .modal--closebtn {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 30px;
                height: 30px;

                border-radius: 50%;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                transform: rotate(45deg);
                cursor: pointer;
                background-color: var(--white);
                z-index: 1000;
            }

            .modal--header {
                position: relative;
                flex: 0 0 auto;
                height: 400px;
                background-color: transparent;
                margin-bottom: 20px;

                display: flex;
                align-items: center;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                    z-index: 999;
                }

                .modal-title--wrapper {
                    z-index: 1000;
                    background-color: var(--modal-accent);
                    padding: 40px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: var(--white);

                    h5 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 20px;
                    }
                }

                video,
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .modal--content {
                flex: 1;
                overflow-y: auto;

                padding: 30px;
                font-size: 18px;
                line-height: 1.6;
                color: var(--text-color, #1a1a1a);
                overflow-y: scroll;

                .modal--description {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 30px;

                    em {
                        font-size: 15px;
                        opacity: 0.7;
                    }
                }

                .modal--links {
                    display: flex;
                    gap: 10px;
                    margin-top: 20px;

                    .link {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        background-color: var(--secondary-color);
                        border-radius: 10px;
                        padding: 5px;
                        transition: transform 0.2s ease;

                        &:hover {
                            transform: translateY(-2px);
                        }

                        svg {
                            width: 27px;
                            height: 27px;
                        }
                    }
                }

                .modal--techno {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;

                    .techno {
                        background-color: var(--primary-color);
                        border-radius: 10px;
                        padding: 5px 10px;
                        color: var(--white);
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .bento--wrapper {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(5, 1fr) !important;

        padding: 20px !important;
        gap: 20px !important;

        grid-template-areas:
            "SFH medicactiv medicactiv"
            "mySFH mySFH astellas"
            "mySFH mySFH astellas"
            "almirall almirall almirall"
            "ih reinvent reinvent" !important;

        #medicactiv,
        #almirall,
        #reinvent {
            max-height: 430px !important;
        }
    }

    .modal--container {
        width: 75% !important;
    }
}

@media (max-width: 992px) {
    .bento--wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;

        padding: 20px !important;
        gap: 20px !important;

        grid-template-areas:
            "SFH medicactiv"
            "mySFH astellas"
            "almirall astellas"
            "ih reinvent" !important;

        blockquote {
            font-size: 16px !important;
        }
    }

    .modal--container {
        width: 85% !important;
    }
}

@media (max-width: 768px) {
    .bento--wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(7, 300px) !important;
        padding: 20px !important;
        gap: 20px !important;

        grid-template-areas:
            "SFH"
            "medicactiv"
            "mySFH"
            "ih"
            "astellas"
            "almirall"
            "reinvent" !important;
    }

    .project-perso--modal {
        padding: 15px;

        &:before {
            inset: 15px;
            border-radius: 14px;
        }

        .modal--container {
            width: 95% !important;
        }

        .modal--header {
            height: 160px;
        }
        .modal--content {
            font-size: 16px;
            padding: 15px;
        }
    }
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
