.navbar--wrapper {
    --navbar-color: var(--primary-color);
    --navbar-border-color: var(--white);
    --navbar-text-color: var(--white);
    --navbar-font-family: inherit;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1000;

    background-color: var(--navbar-color);
    border-bottom: 4px solid var(--navbar-border-color);
    font-family: var(--navbar-font-family);
    color: var(--color);

    transition:
        background-color 0.1s var(--animation-smooth),
        border-color 0.1s var(--animation-smooth),
        color 0.1s var(--animation-smooth);

    .navbar--items {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .navbar--item {
            width: 100px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                position: relative;
                color: var(--navbar-text-color);
                font-size: 16px;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;

                .link-after {
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    height: 4px;
                    background-color: currentColor;
                    width: 0%;
                    transition: width 0.4s ease;
                }
            }

            /** LANGUAGE SELECTOR **/
            &:has(.custom-select) {
                border: 2px solid var(--navbar-border-color);
                padding: 0;

                &:has(.select-menu[data-open="true"]) {
                    border-bottom-color: transparent;
                }

                .custom-select {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .select-trigger {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        color: var(--navbar-text-color);
                        font-size: 16px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 8px;
                        padding: 0 12px;
                        outline: none;

                        .arrow {
                            width: 9px;
                            height: 2px;
                            transition: transform 0.2s ease;

                            & > path {
                                fill: var(--navbar-text-color);
                            }
                            &.open {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .select-menu {
                        position: absolute;
                        top: 100%;
                        left: -2px;
                        right: 0;
                        background-color: var(--navbar-color);
                        border: 2px solid var(--navbar-border-color);
                        border-top: none;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        min-width: 100px;
                        z-index: 1000;
                        user-select: none;
                        visibility: hidden;
                        opacity: 0;
                        transform: translateY(-50px);

                        .select-option {
                            color: var(--navbar-text-color);
                            font-size: 16px;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            padding: 16px 30px;
                            cursor: pointer;
                            transition: background-color 0.2s ease;
                        }
                    }
                }
            }
        }
    }
}

/** MOBILE SUPPORT **/
.navbar-mobile--btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;

    .navbar-mobile--text {
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
        transition: all 0.3s var(--animation-smooth);
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .navbar-mobile--burger {
        --max: 50px;
        width: var(--max);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        transition: all 0.3s var(--animation-smooth);

        .navbar-mobile--burger-line {
            height: 6px;
            background-color: var(--white);
            transition: width 0.3s var(--animation-smooth);
            box-shadow: var(--shadow);
            transform-origin: left;

            &:nth-child(1) {
                width: var(--max);
            }

            &:nth-child(2) {
                width: calc(var(--max) * 0.7);
            }

            &:nth-child(3) {
                width: calc(var(--max) * 0.4);
            }
        }
    }

    &:hover {
        .navbar-mobile--text {
            transform: rotateZ(-90deg);
        }

        .navbar-mobile--burger {
            transform: translateX(-15px);

            .navbar-mobile--burger-line {
                width: var(--max);
            }
        }
    }
}

/** RESPONSIVE **/
@media (max-width: 768px) {
    .navbar--wrapper {
        --navbar-color: transparent !important ;
        justify-content: flex-start;
        padding-left: 40px;
        border: none;
    }
}
