.about-section {
    position: relative;
    height: 100vh;
    min-height: 800px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: var(--secondary-color);
    flex-wrap: wrap;

    .about-experience--wrapper {
        width: calc(100% - 600px);
        max-width: 500px;
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;

        .canvas {
            width: 100%;
            height: 100%;
        }
    }

    .about-text--wrapper {
        flex: 1 1 465px;
        max-width: 500px;
        min-width: 465px;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        gap: 20px;
        padding: 40px;
        border-radius: 50% 35% 60% 40% / 40% 55% 45% 60%;
        transition: border-radius 1s ease;
        box-sizing: border-box;

        h3 {
            font-size: 48px;
            font-weight: 600;
            padding-bottom: 20px;
            color: var(--heading-text);
        }

        p {
            font-size: clamp(16px, 2vw, 18px);
            line-height: 1.6;
            font-weight: 300;

            span {
                color: var(--primary-color);
                font-weight: 600;
            }
        }

        .btns--wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

@media (max-width: 992px) {
    .about-section {
        justify-content: center;
    }

    .about-experience--wrapper {
        display: none !important;
    }

    .about-text--wrapper {
        min-width: 0 !important;
        margin: 0 20px;
    }

    .btns--wrapper {
        justify-content: center;
    }
}
