@import url("styles/reset.css");
@import url("styles/colors.css");
@import url("styles/vars.css");

* {
    font-family: "Bricolage Grotesque";
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    scroll-padding-top: 80px; /* Adjust to your navbar height */
    scroll-behavior: smooth;
}
